<link href="../../css/workorder/workorder.detail.css" rel="stylesheet" />

<form name="workOrderDetailForm">
    <div class="form-group">
        <label>Leasee ID (To change Leasee, check for Leasee's ID Number <a href="#/tenant/grid">here</a>.)</label>
        <input type="text" class="form-control" ng-model="workOrder.TenantId" />
        <label>Property Id (To change Property, check for the Property's ID Number <a href="#/property/grid">here</a>.)</label>
        <input type="text" class="form-control" ng-model="workOrder.PropertyId" />
        <label>Description</label>
        <input type="text" class="form-control" ng-model="workOrder.Description" />
        <label>Opened Date</label>
        <input type="text" class="form-control" ng-model="workOrder.OpenedDate" />
        <label>Closed Date</label>
        <input type="text" class="form-control" ng-model="workOrder.ClosedDate" />
        <label>Priority (1 = Low, 4 = Urgent)</label>
        <input type="text" class="form-control" ng-model="workOrder.Priority" />
    </div>
</form>

<div class="well clearfix" id="savebutton">
    <button class="btn btn-success pull-right" ng-click="saveWorkOrder()">
        Save
    </button>
</div>

<!--<pre>
<! {{tenant | json}}
<! </pre> -->