<link href="../../css/lease/lease.detail.css" rel="stylesheet" />

<form name="leaseDetailForm">
    <div class="form-group">
        <label>Leasee ID (To change Leasee, check for Tenant's ID Number <a href="#/tenant/grid">here</a>.)</label>
        <input type="text" class="form-control" ng-model="lease.TenantId" />
        <label>Property ID (To change Property, check for Property's ID Number <a href="#/property/grid">here</a>.)</label>
        <input type="text" class="form-control" ng-model="lease.TenantId" />
        <label>Lease Start Date</label>
        <input type="text" class="form-control" ng-model="lease.StartDate" />
        <label>Lease End Date</label>
        <input type="text" class="form-control" ng-model="lease.EndDate" />
        <label>Rent Amount</label>
        <input type="text" class="form-control" ng-model="lease.RentAmount" />
        <label>Rent Frequency (1 = Daily, 2 = Weekly, 3 = Monthly, 4 = Quarterly, 5 = Biannually, 6 = Annually)</label>
        <input type="text" class="form-control" ng-model="lease.RentFrequency" />
    </div>
</form>

<div class="well clearfix" id="savebutton">
    <button class="btn btn-success pull-right" ng-click="saveLease()">
        Save
    </button>
</div>

<!--<pre>
<! {{lease | json}}
<! </pre> -->
