<link href="../../css/lease/lease.grid.css" rel="stylesheet" />

<table class="table table-striped table-responsive">
    <thead id="leasegridhead">
        <tr>
            <th>Lease ID</th>
            <th>Leasee Name</th>
            <th>Property Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Region</th>
            <th>Edit/Delete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="lease in leases" id="leasegridbody">
            <td>{{lease.LeaseId}}</td>
            <td>{{lease.Tenant.LastName}}, {{lease.Tenant.FirstName}}</td>
            <td>{{lease.Property.PropertyName}}</td>
            <td>{{lease.Property.Address.Address1}}</td>
            <td>{{lease.Property.Address.City}}</td>
            <td>{{lease.Property.Address.Region}}</td>
            <td>
                <a class="btn" ng-href="#/lease/detail/{{lease.LeaseId}}">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn" ng-click="deleteLease(lease)">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>