<link href="../../../css/app/property/property.detail.css" rel="stylesheet" />

<form name="propertyDetailForm">
    <div class="form-group">
        <label>Property Name</label>
        <input type="text" class="form-control" ng-model="property.PropertyName" />
        <label>Address 1</label>
        <input type="text" class="form-control" ng-model="property.Address.Address1" />
        <label>Address 2</label>
        <input type="text" class="form-control" ng-model="property.Address.Address2" />
        <label>Address 3</label>
        <input type="text" class="form-control" ng-model="property.Address.Address3" />
        <label>Address 4</label>
        <input type="text" class="form-control" ng-model="property.Address.Address4" />
        <label>Address 5</label>
        <input type="text" class="form-control" ng-model="property.Address.Address5" />
        <label>City</label>
        <input type="text" class="form-control" ng-model="property.Address.City" />
        <label>Region</label>
        <input type="text" class="form-control" ng-model="property.Address.Region" />
        <label>Postal Code</label>
        <input type="text" class="form-control" ng-model="property.Address.PostalCode" />
        <label>Square Feet</label>
        <input type="text" class="form-control" ng-model="property.SquareFeet" />
        <label>Number of Bedrooms</label>
        <input type="text" class="form-control" ng-model="property.NumberOfBedrooms" />
        <label>Number of Bathrooms</label>
        <input type="text" class="form-control" ng-model="property.NumberOfBathrooms" />
        <label>Number of Vehicle Spaces</label>
        <input type="text" class="form-control" ng-model="property.NumberOfVehicleSpaces" />
    </div>
</form>

<div class="well clearfix" id="savebutton">
    <button class="btn btn-success pull-right" ng-click="saveProperty()">
        Save
    </button>
</div>

<!--<pre>
<! {{property | json}}
<! </pre> -->