<link href="../../../css/app/workorder/workorder.grid.css" rel="stylesheet" />

<table class="table table-striped table-responsive">
    <thead id="workordergridhead">
        <tr>
            <th>WorkOrder ID</th>
            <th>Leasee</th>
            <th>Property</th>
            <th>Created On</th>
            <th>Closed On</th>
            <th>Priority</th>
            <th>Edit/Delete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="workOrder in workOrders | orderBy:'id':true" id="workordergridbody">
            <td>{{workOrder.WorkOrderId}}</td>
            <td>{{workOrder.Tenant.LastName}}, {{workOrder.Tenant.FirstName}}</td>
            <td>{{workOrder.Property.PropertyName}}</td>
            <td>{{workOrder.OpenedDate}}</td>
            <td>{{workOrder.ClosedDate}}</td>
            <td>{{workOrder.Priority}}</td>
            <td>
                <a class="btn" ng-href="/#/app/workOrder/detail/{{workOrder.WorkOrderId}}">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn" ng-click="deleteWorkOrder(workOrder)">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>