<link href="../../../css/app/tenant/tenant.detail.css" rel="stylesheet" />

<form name="tenantDetailForm">
    <div class="form-group">
        <label>Tenant First Name</label>
        <input type="text" class="form-control" ng-model="tenant.FirstName" />
        <label>Last Name</label>
        <input type="text" class="form-control" ng-model="tenant.LastName" />
        <label>Phone Number</label>
        <input type="text" class="form-control" ng-model="tenant.PhoneNumber" />
        <label>Email Address</label>
        <input type="text" class="form-control" ng-model="tenant.EmailAddress" />
        <label>Prior Address 1</label>
        <input type="text" class="form-control" ng-model="tenant.PriorAddress.Address1" />
        <label>Prior Address 2</label>
        <input type="text" class="form-control" ng-model="tenant.PriorAddress.Address2" />
        <label>Prior Address 3</label>
        <input type="text" class="form-control" ng-model="tenant.PriorAddress.Address3" />
        <label>Prior Address 4</label>
        <input type="text" class="form-control" ng-model="tenant.PriorAddress.Address4" />
        <label>Prior Address 5</label>
        <input type="text" class="form-control" ng-model="tenant.PriorAddress.Address5" />
        <label>Prior Address City</label>
        <input type="text" class="form-control" ng-model="tenant.PriorAddress.City" />
        <label>Prior Address Region</label>
        <input type="text" class="form-control" ng-model="tenant.PriorAddress.Region" />
        <label>Prior Address Postal Code</label>
        <input type="text" class="form-control" ng-model="tenant.PriorAddress.PostalCode" />
    </div>
</form>

<div class="well clearfix" id="savebutton">
    <button class="btn btn-success pull-right" ng-click="saveTenant()">
        Save
    </button>
</div>

<!--<pre>
<! {{tenant | json}}
<! </pre> -->