<link href="../../css/property/property.grid.css" rel="stylesheet" />

<table class="table table-striped table-responsive">
    <thead id="propertygridhead">
        <tr>
            <th>Property ID</th>
            <th>Property Name</th>
            <th>Address 1</th>
            <th>City</th>
            <th>Region</th>
            <th>Postalcode</th>
            <th>Edit/Delete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="property in properties" id="propertygridbody">
            <td>{{property.PropertyId}}</td>
            <td>{{property.PropertyName}}</td>
            <td>{{property.Address.Address1}}</td>
            <td>{{property.Address.City}}</td>
            <td>{{property.Address.Region}}</td>
            <td>{{property.Address.PostalCode}}</td>
            <td>
                <a class="btn" ng-href="#/property/detail/{{property.PropertyId}}">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn" ng-click="deleteProperty(property)">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>