h1, h3, input, h6 {
    color: darkgrey;
}

h1, h3, h6, h4, #loginButton {
    text-align: center;
}

input {
    background-color: transparent;
}

#mainLogin {    
    position: fixed;
    top: 50%;
    left: 50%;
    width:25em;
    height:30em;
    margin-top: -25em; /*set to a negative number 1/2 of your height*/
    margin-left: -12.5em; /*set to a negative number 1/2 of your width*/
    border: 1px solid darkgray;
}

label {
    color: orangered;
    margin-left: 1em;
}

#createAccount {
    color: red;
    text-decoration: none;
}

#createAccount:hover {
    color: darkred;
    text-decoration: underline;
}